h3 CSS mapping
ul.glyphs.css-mapping
  li
    .icon.icon-email
    input(type='text', readonly='readonly', value='email')
  li
    .icon.icon-linkedin
    input(type='text', readonly='readonly', value='linkedin')
  li
    .icon.icon-phone
    input(type='text', readonly='readonly', value='phone')
h3 Character mapping
ul.glyphs.character-mapping
  li
    .icon(data-icon='a')
    input(type='text', readonly='readonly', value='a')
  li
    .icon(data-icon='b')
    input(type='text', readonly='readonly', value='b')
  li
    .icon(data-icon='c')
    input(type='text', readonly='readonly', value='c')
