doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Qualiceutics
    meta(name="description", content="Qualiceutics")
    include inc/_head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      include inc/_header.jade

      main#main
        .hero
          .small-banner(data-interchange="[images/about-us-hero.jpg, small]")

        .content
          .row
            .columns.small-11.small-centered.medium-8.text-center
              h2.header-1.orange.thin-margin-bottom Mission
              p Our mission at QualiCeutics is to elevate the level of quality and compliance for each pharmaceutical client. We deliver best practices that meet or exceed the current health standards to ensure each compliance solution is sustainable. Our consultants strive to enhance the organization’s confidence when defending product quality and safety, so that each clients is inspection and submission ready.

        .about-blue-cta
          .row.bg-cover(data-interchange="[images/about-blue-bg.jpg, small]")
            .columns.small-12.medium-9.medium-centered.xtra-thick-page-section
              .row.thick-page-section
                .columns.medium-6.small-12
                  .row
                    .columns.small-12.thin-margin-bottom
                      img(src="images/our-values.png", alt="our values").our-values-icon
                      h2.header-2.white Our Values
                    .columns.small-12
                      p.white These fundamental values have consistently proven to deliver successful results and exceed client expectations:
                .columns.medium-6.small-12
                  ol.cir-number-list.white
                    li
                      p.caps.white Integrity &amp; Accountability
                    li
                      p.caps.white Partnership
                    li
                      p.caps.white Communication &amp; Transparency
                    li
                      p.caps.white Commitment to Quality


        .content
          .row
            .columns.small-11.small-centered.medium-8.text-center
              h2.header-1.orange.thin-margin-bottom Consultants
              p When you work with professionals from the QualiCeutics Group, be assured that they each have a proven track record of success in both the corporate world and as a compliance consultant.

              p Associate Consultants are independent. Every one of them has worked directly with the QualiCeutics Leadership Team and continues to provide consultancy to the pharmaceutical and biotech industries.  Each associate possesses a thorough knowledge of quality and compliance best practice and is a trusted resource, consistently demonstrating a commitment to our core values and are passionate about making sure your team continues to manufacture safe and effective medicines.

              p Our expert consultants are ready to assist you.

        .team-members
          .row
            .columns.small-12.medium-11.medium-centered.xtra-thick-page-section
              .row.thin-margin-bottom
                .columns.small-12.text-left
                  h3.header-3.caps.grey-light-headers Leadership
              .row
                .columns.small-12
                  .leader-box
                    .row
                      .columns.small-4
                        .profile-img(data-interchange="[images/staff-pics/jolser.png, small]")
                      .columns.small-8
                        h3.header-3.tagline John Olser
                        p.caps.thin Founder &amp; President
                        p John E. Osler is a Senior Consultant in the Pharmaceutical and Biotechnology industries. After serving in the industry for more than 20 years, Osler founded The QualiCeutics Group, LLC., to help pharma clients meet the regulatory requirements associated with manufacturing safe and effective medicines. He specializes in GMP Laboratory Compliance, which includes data integrity forensics and good laboratory practice related to computerized laboratory systems. Since founding the consulting group in 2012, Osler has worked with both large and small companies to improve their quality culture and inspection-readiness.
                        a(data-toggle="panel") Read More
                        #panel(data-toggler data-animate="hinge-in-from-top hinge-out-from-top")
                          p Osler’s corporate experience included leadership positions at Wyeth Research, Celltech, and UCB Pharma. During that period, he held management and international roles in Analytical Development, Quality Control, Knowledge Management, and Project Management. His analytical teams contributed to more than 10 drug approvals, including successful face-to-face interactions with health inspectors and direct interactions with FDA Reviewers. While in the corporate environment, Osler successfully led global technology transfer projects and his passion for continuous improvement led to leadership roles in corporate-wide initiatives.
                          p Osler holds a BS in Chemistry from the Rochester Institute of Technology. He lives with his family in western New York, where they enjoy all four seasons, including many inches of snow each winter, and the occasional Buffalo-style chicken wing.







        .form-container#contact
          .row
            .columns.small-11.small-centered.medium-9.large-8
              .row
                .columns.medium-4.large-5
                  h2.header-1 Want To <br /> Learn More?
                  span.header-3 Contact us today.
                  hr.hr-1.thick-margin-bottom
                  .thin-margin-bottom
                    strong.header-2.no-margin John Osler
                    span.header-3
                      small Founder &amp; President
                  ul.no-bullet.contact-list
                    li
                      a(href="tel:585944-7046" title="Phone Number" alt="Phone Number").grey
                        i.icon.icon-phone
                        span (585) 944-7046
                    li
                      a(href="mailto:josler@qualiceutics.com" alt="email" title="email").grey
                        i.icon.icon-email
                        span josler@qualiceutics.com
                .columns.medium-8.large-7
                  //- OG form
                  form#contact.contact-form(name='contact', method='post', data-abide, novalidate)
                    .alert.callout(data-abide-error, style='display: none;')
                      span Please be sure to fill out all required fields
                    input#name(type='text', name='name', size='30', value='', required, placeholder="Name or Company Name")
                    .row
                      .columns.medium-6
                        input#email(type='text', name='email', size='30', value='', required, placeholder="Email")
                      .columns.medium-6
                        input#phone(type='text', name='phone', size='30', value='', required, placeholder="Phone")
                    textarea#message(name='message', required, placeholder="Compose Message")
                    input#submit(type='submit', name='submit', value='Send').button-1.alt
                  //- #success
                    span
                      p Your message was sent succssfully! I will be in touch as soon as I can.
                  //- #error
                    span
                      p Something went wrong, try refreshing and submitting the form again.


      footer.global-footer
        .row
          .columns
            p &copy; 2016, The Qualiceutics Group, LLC
              a(href="#", target="_blank")
                i.icon.icon-linkedin
                span.show-for-sr LinkdIn

    include inc/_scripts.jade
