doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Qualiceutics
    meta(name="description", content="Qualiceutics")
    include inc/_head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.header
        .row
          .columns
            h1 Qualiceutics

      main#main
        .row
          .columns
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quis quaerat veniam quos ratione, labore necessitatibus quod ipsum perferendis iusto, accusamus non modi eius. Sunt incidunt impedit cumque est ut!

      footer.footer
        .row
          .columns
            p &phi;

    include inc/_scripts.jade
