doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Qualiceutics
    meta(name="description", content="Qualiceutics")
    include inc/_head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      header.global-header
        .row
          .columns
            h1.h1
              span.show-for-sr Qualiceutics
              img(src="images/qualiceutics-logo.png", alt="", width="440", height="140")

      main#main
        .hero.bg-cover.thick-page-section.medium-xtra-thick-page-section(data-interchange="[images/tubes.jpg, small]")
          .row
            .columns.small-11.small-centered.medium-8.medium-uncenter.medium-offset-4.large-5.large-offset-6
              .callout
                h2.header-2.orange.thin-margin-bottom Are You Inspection-Ready?
                p.header-3 QualiCeutics links pharma clients to best practice in quality &amp; compliance.
                hr.hr-1
                strong.header-4 Our expertise includes:
                ul
                  li Data Integrity Forensics
                  li QC Laboratory Remediation
                  li Computerized System Controls
                  li Quality System Re-Engineering
                  li Good Investigation Practices
                  li Inspection Readiness
                  li And More...
        .content
          .row
            .columns.small-11.small-centered.medium-10
              h2.header-1.blue.text-center.thick-page-section Providing focused consulting services to the Pharmaceutical and Biotech industries.
              .row
                .columns.medium-9.medium-centered.large-8
                  p QualiCeutics improves the compliance environment by linking clients to industry best practice and then works diligently to help integrate and embed the new quality processes and systems into the whole organization.
                  strong.header-4 These fundamental values have consistently proven to deliver successful results and exceed client expectations:
                  ul
                    li Integrity &amp; Accountability
                    li Partnership
                    li Communication &amp; Transparency
                    li Committment to Quality
                  p No matter how big or small the project, the goal is to deliver a sustainable solution. Communication is key, so planning and execution are always timely and transparent. Let experienced consultants leverage their industry knowledge to help you consistently exceed regulatory standards and expectations of health authorities.
          .callout-container
            .callout-1
              span Look for our brand new website, coming this spring!
        .form-container
          .row
            .columns.small-11.small-centered.medium-9.large-8
              .row
                .columns.medium-4.large-5
                  h2.header-1 Want To <br /> Learn More?
                  span.header-3 Contact us today.
                  hr.hr-1.thick-margin-bottom
                  .thin-margin-bottom
                    strong.header-2.no-margin John Osler
                    span.header-3
                      small Founder &amp; President
                  ul.no-bullet.contact-list
                    li
                      i.icon.icon-phone
                      span (585) 944-7046
                    li
                      i.icon.icon-email
                      span josler@qualiceutics.com
                .columns.medium-8.large-7
                  //- OG form
                  form#contact.contact-form(name='contact', method='post', data-abide, novalidate)
                    .alert.callout(data-abide-error, style='display: none;')
                      span Please be sure to fill out all required fields
                    input#name(type='text', name='name', size='30', value='', required, placeholder="Name or Company Name")
                    .row
                      .columns.medium-6
                        input#email(type='text', name='email', size='30', value='', required, placeholder="Email")
                      .columns.medium-6
                        input#phone(type='text', name='phone', size='30', value='', required, placeholder="Phone")
                    textarea#message(name='message', required, placeholder="Compose Message")
                    input#submit(type='submit', name='submit', value='Send').button-1.alt
                  //- #success
                    span
                      p Your message was sent succssfully! I will be in touch as soon as I can.
                  //- #error
                    span
                      p Something went wrong, try refreshing and submitting the form again.


      footer.global-footer
        .row
          .columns
            p &copy; 2016, The Qualiceutics Group, LLC
              a(href="#", target="_blank")
                i.icon.icon-linkedin
                span.show-for-sr LinkdIn

    include inc/_scripts.jade
