doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title Qualiceutics
    meta(name="description", content="Qualiceutics")
    include inc/_head.jade

  body
    a(href="#main").show-for-sr Skip to main content
    .container
      include inc/_header.jade

      main#main
        .hero
          .small-banner(data-interchange="[images/article-1.jpg, small]")

        .content.page-section
          .row
            .columns.small-11.small-centered.medium-9.text-left
              h1.header-2.orange.xtra-thin-margin-bottom The QualiCeutics Group to Sponsor Africa Pharma Summit East 2016
              h2.header-3.grey.margin-bottom December 2015
              .row
                .columns.small-12.medium-10.medium-centered.margin-bottom
                  p  In its 3rd year, the Africa Pharmaceutical Summit (APS) has established itself as the most strategic industry event in Africa.  APS has quickly become the leading international summit and exhibition series for Africa’s fast-growing pharmaceutical sector.  APS East is a 3-day event, which will be held February 23-25, 2016 in Nairobi, Kenya. The event brings together all major stakeholders in the region, including industry leaders, policy-makers, regulators, academics, investors, scientists and patient representatives.
                  p QualiCeutics is excited to be a first-time sponsor of the APS East event.  The decision to sponsor is based on the energy and activity in the region and the potential to create a self-sustaining pharma sector.  The QualiCeutics Group looks forward to partnering with young companies and health agencies in east Africa to help build their quality and compliance infrastructure.

                  p Over 1,000 participants are expected at the APS East event.  For more information on the event, visit #[a(href='http://africapharmasummit.com/', target='_blank') www.africapharmasummit.com.]
              a.tiny-link.grey-light.icon-arrow-right.reverse-icon.caps(href="http://cth12.github.io/qualiceutics/") Back to news






      include inc/_footer.jade

    include inc/_scripts.jade
