/* Default header styles from Foundation 5 */
%header {
  display: block;
  font-weight: $header-font-weight;
  margin-top: 0;
  margin-bottom: $header-margin-bottom;
  text-rendering: $header-text-rendering;
  small {
    color: inherit;
  }
}


.header-1 {
  @extend %header;
  font-size: rem-calc(28);
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1px;
  @include mq(medium) {
    font-size: rem-calc(33);
  }
}

.header-2 {
  @extend %header;
  font-size: rem-calc(27);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}

.header-3 {
  @extend %header;
  font-weight: $book;
  font-size: rem-calc(21);
  line-height: 1.3;
}
.header-4 {
  @extend %header;
  font-size: rem-calc(19);
  text-transform: uppercase;
}

//
.caps                               {text-transform: uppercase;}
.thin                               {font-weight: 400;}
.tagline                            {margin-bottom: rem-calc(2);}
.bold                               {font-weight: 500;}
p                                   {font-weight: 400;}
.tiny                               {font-size: rem-calc(14);}
// Links




.tiny-link {
    font-size: rem-calc(12);
    color: $grey;
}





.lorem {
    color: black;
    background: yellow;
}
