footer.global-footer
  .top-footer.grey-bg
    .row
      .columns.small-12.medium-9
        ul.footer-links.caps
          li
            a(href='http://www.qualiceutics.com/') Home
          li
            a(href='http://www.qualiceutics.com/about-us.html') About Us
          li
            a(href='http://www.qualiceutics.com/expertise.html') Expertise
          li
            a(href='http://www.qualiceutics.com/#best-practices') Best Practices
      .columns.small-12.medium-3.contact-footer
        a(href="mailto:josler@qualiceutics.com") josler@qualiceutics.com
        a(href="tel:15859447046") +1 585 944 7046
  .lower-footer
    .row
      .columns.small-12.medium-9.footer-brand
        p &copy; 2016, The Qualiceutics Group, LLC
      .columns.small-12.medium-3.contact-footer.medium-text-right.small-text-center
        a(href="https://www.linkedin.com/company/the-qualiceutics-group-llc", target="_blank")
          i.icon.icon-linkedin
          span.show-for-sr LinkdIn
