footer.global-footer
  .top-footer.grey-bg
    .row
      .columns.small-12.medium-9
        ul.footer-links.caps
          li
            a(href='/') Home
          li
            a(href='about-us.html') About Us
          li
            a(href='expertise.html') Expertise
          li
            a(href='/#best-practices') Best Practices
      .columns.small-12.medium-3.contact-footer
        a(href="mailto:contact@qualiceutics.com") contact@qualiceutics.com
        a(href="tel:15859447046") +1 585 944 7046
  .lower-footer
    .row
      .columns.small-12.medium-9.footer-brand
        p &copy; 2016, The Qualiceutics Group, LLC
      .columns.small-12.medium-3.contact-footer
        a(href="#", target="_blank")
          i.icon.icon-linkedin
          span.show-for-sr LinkdIn
