header.global-header
  .top-bar
    .row
      .columns.medium-4.medium-offset-1
        .top-bar-title
          span(data-responsive-toggle='responsive-menu', data-hide-for='medium')
            span.menu-icon.dark(data-toggle='')
          h1.h1.brand-logo
            span.show-for-sr Qualiceutics
            img(src="images/qualiceutics-logo.png", alt="")
      .columns.medium-7
        #responsive-menu
          .top-bar-left
            ul.dropdown.menu(data-dropdown-menu='')
              li
                a(href='#') About Us
              li
                a(href='#') Expertise
              li
                a(href='#') Best Practices
              li
                a(href='#') Contact
