header
  .head-wrap
    .global-header
      .top-bar
        .row
          .columns.large-4.large-offset-1.medium-3.small-8
            .top-bar-title
              h1.h1.brand-logo
                a(href="/")
                  span.show-for-sr Qualiceutics
                  img(src="images/qualiceutics-logo.png", alt="")
          .columns.show-for-small-only.small-4.text-right
            span(data-responsive-toggle='responsive-menu', data-hide-for='medium').menu-wrap
                span.menu-icon.dark(data-toggle='')
          .columns.large-7.medium-9.small-12
            #responsive-menu
              .top-bar-right
                ul.dropdown.menu(data-dropdown-menu='')
                  li
                    a(href='about-us.html') About Us
                  li
                    a(href='#') Expertise
                  li
                    a(href='#') Best Practices
                  li
                    a(href='#contact' data-smooth-scroll) Contact
