meta(name="viewport", content="width=device-width, initial-scale=1")
link(rel="apple-touch-icon", href="apple-touch-icon.png")
<script src="https://use.typekit.net/rkn7frh.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
link(rel="stylesheet", href="css/style.css")
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
meta(name="description", content="The QualiCeutics Group work to improve the quality and compliance environment of pharmaceutical clients by linking them to industry best practice. ")
meta(property="og:url", content="http://cth12.github.io/qualiceutics/")
meta(property="og:title", content="The QualiCeutics Group | Pharmaceutical Quality and Compliance")
meta(property="og:description", content="The QualiCeutics Group work to improve the quality and compliance environment of pharmaceutical clients by linking them to industry best practice.")
meta(property="og:image", content="http://cth12.github.io/qualiceutics/images/qualiceutics-logo.png")

