/* Default button styles from Foundation 5 */
%button {
  display: inline-block;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: $button-radius;
  padding: $button-padding;
  margin: $button-margin;
}

.button-1 {
  @extend %button;
  background-color: $orange;
  color: $white;
  padding: rem-calc(15 40);
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  &:hover {
    color: $white;
    background-color: $orange-dark;
  }
  &.alt {
    width: 100%;
  }
}

.orange-outline {
    @extend %button;
    background-color: transparent;
    border: 1px solid $orange;
    color: $orange;
    transition: all 0.3s ease;
    padding: rem-calc(15 30);
    &:hover {
        background-color: $orange-trans;
        color: $orange;
    }

}




