@font-face {
  font-family: "qua-icons";
  src:url("../fonts/qua-icons.eot");
  src:url("../fonts/qua-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/qua-icons.woff") format("woff"),
    url("../fonts/qua-icons.ttf") format("truetype"),
    url("../fonts/qua-icons.svg#qua-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "qua-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "qua-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.25s ease;
}


.icon-arrow-right:before {
  content: "\61";
}
.icon-arrow-right-2:before {
  content: "\62";
}
.icon-beaker:before {
  content: "\63";
}
.icon-calendar:before {
  content: "\64";
}
.icon-close:before {
  content: "\65";
}
.icon-computer:before {
  content: "\66";
}
.icon-download:before {
  content: "\67";
}
.icon-email:before {
  content: "\68";
}
.icon-facebook:before {
  content: "\69";
}
.icon-four:before {
  content: "\6a";
}
.icon-gears:before {
  content: "\6b";
}
.icon-graph:before {
  content: "\6c";
}
.icon-link:before {
  content: "\6d";
}
.icon-linkedin:before {
  content: "\6e";
}
.icon-magnifying-glass:before {
  content: "\6f";
}
.icon-paper:before {
  content: "\70";
}
.icon-one:before {
  content: "\71";
}
.icon-pencil:before {
  content: "\72";
}
.icon-phone:before {
  content: "\73";
}
.icon-project-management:before {
  content: "\74";
}
.icon-ribbon:before {
  content: "\75";
}
.icon-three:before {
  content: "\76";
}
.icon-two:before {
  content: "\77";
}


// Alter icons

.reverse-icon {
    &:before {
        position: relative;
        display: inline-block;
        transform: rotate(180deg);
        left: - rem-calc(7);
        bottom: 1px;
    }
}

.orange-icon {
    &:before {
        color: $orange;
    }
}





// Preview icons

.bp-prev-icon,
.dl-prev-icon,
.our-values-icon,
.process-icon {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 50%;
        background-position-y: 50%;
    }
}

.bp-prev-icon {
    &:before {
        width: 30px;
        height: 46px;
        left: -50px;
        top: 0px;
        background-image: url("../images/bp-icon.png");
    }
}

.dl-prev-icon{
    &:before {
        width: 17px;
        height: 22px;
        left: -27px;
        top: -2px;
        background-image: url("../images/downl-icon.png");
    }
}

.our-values-icon,
.process-icon {
    display: inline-block;
    float: left;
    max-width: rem-calc(30);
    margin: rem-calc(0 10 0 0);
}


.header-icon {
    position: relative;
    &:before {
        left: -5px;
        position: relative;
        font-size: rem-calc(40);
        @media #{$medium-up} {
            left: - rem-calc(50);
            bottom: 0;
            position: absolute;
        }
    }
}


.xtra-sm-link {
    font-size: rem-calc(15);
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    color: $grey-lk-light;
    transition: all 0.3s ease-out;
    &:before {
        position: absolute;
        top: 3px;
        font-size: 14px;
        right: -25px;
        color: $grey-lk-light;
        transition: all 0.25s ease-out;
    }
    &:hover {
        color: $grey;
        &:before {
            color: $grey;
            right: -27px;
        }
    }
}
