@font-face {
  font-family: "qua-icons";
  src:url("../fonts/qua-icons.eot");
  src:url("../fonts/qua-icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/qua-icons.woff") format("woff"),
    url("../fonts/qua-icons.ttf") format("truetype"),
    url("../fonts/qua-icons.svg#qua-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "qua-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "qua-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\61";
}
.icon-linkedin:before {
  content: "\62";
}
.icon-phone:before {
  content: "\63";
}
