
// Orbit Slider
.orbit {
    ul.orbit-container {
        outline: none;

        .orbit-previous,
        .orbit-next {
            top:50%;
            &:after {
                font-family: "qua-icons" !important;
                content: "\62";
                top: rem-calc(2);
                font-size: rem-calc(17);
                left: rem-calc(5);
                display: inline-block;
                color: rgba(255, 255, 255, 0.45);
                transition: all 0.25s ease;
            }
            &:hover {
                &:after {
                    color: rgba(247, 161, 21, 1.0);
                }
            }
        }
        .orbit-previous {
            left:3%;
            &:after {
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
        }
        .orbit-next {
            right:3%;
        }
        .orbit-slide {
            min-height: rem-calc(500);
            position: relative;
            background-repeat: no-repeat;
            // background-size: cover;
            // background-position-y: 50%;

            .callout {
                background-color: transparent;
                // transform: translateY(26%);
                .button {
                    margin-top: rem-calc(15);
                }
            }
            .right-arrow {
                &:after {
                    font-family: "qua-icons" !important;
                    content: "\61";
                    top: rem-calc(2);
                    position: relative;
                    font-size: rem-calc(11);
                    left: rem-calc(5);
                    transition: left 0.25s ease;
                }
                &:hover {
                    &:after {
                        left: rem-calc(7);
                    }
                }
            }
        }
        .slide-1,
        .slide-2,
        .slide-3 {
          height: rem-calc(500);
          background-color: transparent;
          position: relative;
          overflow: hidden;
          &:after {
            content: "\0a0";
            background-color: $blue;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-position-x: 50%;
            background-size: cover;
            z-index: -1;
            transition: transform 1s ease;
            animation: expand;
            animation-duration: 22s;
            animation-fill-mode: forwards;
            }
        }
        .slide-1 {
            &:after {
                background-image: url(../images/slider-01.jpg);
            }
        }
        .slide-2 {
            &:after {
                background-image: url(../images/slider-02.jpg);
            }
        }
        .slide-3 {
            &:after {
                background-image: url(../images/slider-03.jpg);
            }
        }


        @keyframes expand {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(1.25);
          }
        }


// end of orbit container
    }
}




$lg-top-vert: 26%;
$med-top-vert: 23%;
$sm-top-vert: 14%;

.valign-center {
  transform: translateY($sm-top-vert);
  -webkit-transform: translateY($sm-top-vert);
  -o-transform:translateY($sm-top-vert);
  -ms-transform:translateY($sm-top-vert);
  position: relative;
}

@include mq(medium) {
    .valign-center {
      transform: translateY($med-top-vert);
      -webkit-transform: translateY($med-top-vert);
      -o-transform:translateY($med-top-vert);
      -ms-transform:translateY($med-top-vert);
    }
}
@include mq(large) {
    .valign-center {
      transform: translateY($lg-top-vert);
      -webkit-transform: translateY($lg-top-vert);
      -o-transform:translateY($lg-top-vert);
      -ms-transform:translateY($lg-top-vert);
    }
}

@media #{$small-only} {
    .orbit-previous,
    .orbit-next                         {display:none;}
}

