// colors
// foundation legacy colors
$white       : #FFFFFF;
$ghost       : #FAFAFA;
$snow        : #F9F9F9;
$vapor       : #F6F6F6;
$white-smoke : #F5F5F5;
$silver      : #EFEFEF;
$smoke       : #EEEEEE;
$gainsboro   : #DDDDDD;
$iron        : #CCCCCC;
$base        : #AAAAAA;
$aluminum    : #999999;
$jumbo       : #888888;
$monsoon     : #777777;
$steel       : #666666;
$charcoal    : #555555;
$tuatara     : #444444;
$oil         : #333333;
$jet         : #222222;
$black       : #000000;

// be sure to add the vars to the $theme_colors
$orange       : #f7a115;
$orange-dark  : #d68500;
$orange-trans : rgba(247, 161, 21, 0.12);
$blue         : #2d6caa;
$grey         : #606264;
$grey-dark    : #4b4c4e;
$grey-light   : #e9e9e9;
$grey-lk-light: #C1C1C1;
$grey-light-headers: #bcbcbc;

// Image overlays
$orange-overlay :rgba(247, 161, 21, 0.55);
$blue-overlay   :rgba(45, 108, 170, 0.55);
$grey-overlay   :rgba(96, 98, 100, 0.55);



$theme_colors: (
  "orange":       $orange,
  "orange-dark":  $orange-dark,
  "blue":         $blue,
  "grey":         $grey,
  "grey-dark":    $grey-dark,
  "grey-light":   $grey-light,
  "grey-light-headers":   $grey-light-headers,

);



// type + weights
$ingra: 'ingra';  // add to appropriate font stack and uncomment
$ingra-stack: $ingra, 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

$book: 500;  // "medium"
$semi-bold: 700;  // "bold"
