

// Correct janky body movement when reveal is open
body.is-reveal-open {
    overflow: visible;
}
.reveal-overlay {
    overflow-y: hidden;
}




.cir-number-list {
    list-style-type: none;
    // counter-reset: li;
    margin-left: rem-calc(36);
    li {
        position: relative;
        // counter-increment: li;
        &:before {
            // content: counter(li);
            // border-radius: 50%;
            // border: solid 1px $white;
            font-size: rem-calc(27);
            text-align: center;
            position: absolute;
            left: - rem-calc(35);
            top: 0px;
            width: rem-calc(25);
            height: rem-calc(25);
        }
    }
}


.leader-box {
    padding: rem-calc(40);
    border: solid 1px $grey-light-headers;
    height: 100%;
    transition: all 0.3s ease;
    .header-3 {
        font-size: rem-calc(28);
    }
    .exp-panel {
      text-align: right;
      color: $grey-dark;
      position:relative;
      float: right;
      padding-right: rem-calc(10);
      bottom: rem-calc(10);
      font-size: rem-calc(14);
      &:after {
        content: ' ';
        position: relative;
        display: inline-block;
        right: -10px;
        top: 0;
        background-image: url("../images/down-carrot.png");
        background-size: cover;
        background-position-x: 50%;
        background-position-y: 50%;
        width:18px;
        height:11px;
        transition: all 0.35s ease;

      }
    }
    .exp-panel.close-exp:after {
      transform: rotate(-180deg);
      transition: all 0.35s ease;
    }

    #panel {
        display: none;
    }
}

.assoc-box {
  .orange-bot-border                                      {border-bottom: solid 6px $orange;}
  .associate-bio {
    p                                                     {font-weight:400;}
    .tagline                                              {margin-bottom: -2px;}
    .xtra-sm-link {
      color: $grey;
      &:after {
        color: $grey;
      }
    }
    .assoc-title{
      font-size: rem-calc(15);
      font-weight: 500;
    }
  }
}
@media #{$medium-up} {
    .reveal {
        .associate-bio {
            float: left;
            padding-right: rem-calc(40);
            min-width: rem-calc(350);
        }
    }


// end of medium query
}



@media #{$small-only} {
  .leader-box {
    .profile-img {
      background-position-y: 0px;
      margin-bottom: rem-calc(20);
    }
  }

// end of small query
}
