// Homepage styles


@media #{$large-only} {
    .hp-block-grid {
        margin: initial;
    }
}


.hp-block-grid {
    margin: rem-calc(20 0);
}

.callout.transparent-bg {
    background-color: transparent;
    padding: rem-calc(20 32 32 0); /* 2rem = (16px * 2) */
}

.best-practices-cta,
.bp-pagination {
    list-style-type: none;
    margin: 0px 0px;
    li {
        display: inline-block;
    }
}

#best-practices {
    .tabs-panel {
        padding: 0px 0px;
    }
}

.best-practices-cta {

    li:first-child {
        padding-left: 0px;
    }
    li {
        padding: rem-calc(0 5);
        a {
            color: $grey;
            transition: all 0.25s ease-out;
            &:hover {
                color: $grey-dark;
            }
        }
        &:before {
            font-size: rem-calc(18);
        }
    }
    .icon-download {
        &:before {
            font-size: rem-calc(24);
            padding-right: rem-calc(6);
        }
    }
    li.divider {
        position: relative;
        &:after {
            content: ' ';
            height: 20px;
            width: 1px;
            background-color: $grey-light;
            position: relative;
            top: 5px;
            display: inline-block;
        }
    }
    .icon-linkedin,
    .icon-email,
    .icon-facebook {
        &:before {
            // position: relative;
            // top: -1px;
            color: $grey;
            transition: all 0.25s ease;
        }
        &:hover {
            &:before {
                color: $grey-dark;
            }
        }
    }
// end of best practices cta
}

ul.bp-pagination {
    float: right;
    position: relative;
    bottom: rem-calc(31);
    a {
        color: $grey-light;
        font-size: rem-calc(15);
        padding: rem-calc(0 5);
        transition: all 0.25s ease;
        &:before {
            vertical-align: bottom;
        }
        &:hover {
            color: $grey;
        }
    }
    .prev-bp {
        &:before {
            position: relative;
            display: inline-block;
            transform: rotate(180deg);
        }
    }

// end of bp-pagination
}

.news-cta {
    .header-icon {
        &:before {
            bottom: 0;
        }
    }
    .xtra-sm-link {
        color: $grey;
        font-size: rem-calc(14);
        &:before {
            color: $grey;
            top: 2px;
        }
        &:hover {
            color: $grey-light;
            &:before {
                color: $grey-light;
            }
        }
    }
}

@media #{$small-only} {
    .small-only-margin {
        margin: rem-calc(30 auto);
    }
}
